

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn-group-horizontal{
	text-align:center;

}


.map{
	/*margin-left:15%;*/
	height:auto;
	
	position:absolute;
	margin-top:0%;
	width:100%;
}


.bottom-info{
	position:absolute;
	height:20%;
	margin-top:50%;

}
.top-info{
	height:10%;
	margin-top:30px;
}
footer{
margin-top:64%;	
}

.btn-custom {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #F04613;
	*background-color: #F04613;
	background-image: -moz-linear-gradient(top, #E31B09, #F04613);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E31B09), to(#F04613));
	background-image: -webkit-linear-gradient(top, #E31B09, #F04613);
	background-image: -o-linear-gradient(top, #E31B09, #F04613);
	background-image: linear-gradient(to bottom, #E31B09, #F04613);
	background-repeat: repeat-x;
	border-color: #F04613;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E31B09', endColorstr='#F04613', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom.active,
.btn-custom.disabled,
.btn-custom[disabled] {
	color: #FFFFFF;
	background-color: #F04613;
	*background-color: #003bb3;
}










